<footer class="page-footer font-small bg-warning pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> Minhas Redes Socias</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="redes-sociais">
                    <li>
                        <a href="https://www.linkedin.com/in/dislani-melo-b7b370212/" target="_blank" class="iconeLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i> 
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/Dislani"  target="_blank" class="iconeGithub">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>


    </div>

    <div class="footer-copyrigth text-center"  style="background-color: py-2">
        <span class="text-white"> &copy; Copyright 2022  </span>
    </div>

</footer>