#img-bg{
    background-image: url(https://i.imgur.com/3LnMJZu.png);
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color{
    color: #e2f5f1;
}

.bg{

    background-color: #ff9514;
    background-repeat: no-repeat;
    min-height: 90px;

}


.colortex{
    color: #D28C36;
    
}