<div class="container-fluid bg">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <!--formulario da esquerda-->
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3"> Entrar </h1>
                    <div class="form-grup">
                        <label for="usuario"> Usuario</label>
                        <input [(ngModel)]= "userLogin.usuario" class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                    </div>
                
                    <div class="form-grup">
                        <label for="senha"> Senha </label>
                        <input [(ngModel)]= "userLogin.senha" class="form-control" type="password" name="senha" id="senha" placeholder="Senha Cadastrada">
                    </div>
                
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success mt-3" (click)="entrar()"> Entrar </button>
                        <!-- "mt-3" da espaçamento do topo-->
                    </div>
                
                    <hr class="mt-5 mb-5">
                        <p class="text-center"> <!-- "text-center" centraliza o texto-->
                            Ainda não tem uma conta? <a routerLink="/cadastrar"> Cadastre-se </a>
                        </p>  <!-- "mt-5" da espaçamento do topo e "mb-5" da espaçamento para baixo-->
                
                </div>
            </div>
        </div>
        <!--/formulario da esquerda-->

        <div class="col-md-6" id="img-bg">
            <!--coluna da direita com a imagem-->
        </div>
    </div>
</div>
