<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-4" id="img-bg"></div>

            <div class="row d-flex justify-content-center ">
                <div class="col-md-10  mt-5 mb-5">
                    <h1 class="text-center mb-3"> Entrar </h1>

                    <div class="form-grup">
                        <label for="usuario"> Usuario</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" 
                        placeholder="Seu usuário">
                    </div>

                    <div class="form-grup">
                        <label for="usuario"> Senha </label>
                        <input class="form-control" type="password" name="senha" id="senha" 
                        placeholder="Senha Cadastrada">
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success mt-3">  Entrar </button> <!-- "mt-3" da espaçamento do topo-->
                    </div>

                    <hr class="mt-5 mb-5"> <!-- "mt-5" da espaçamento do topo e "mb-5" da espaçamento-->

                    <p class="text-center"> <!-- "text-center" centraliza o texto-->
                        Ainda não tem uma conta? <a href=""> Cadastre-se</a>
                    </p>
                </div>

            </div>

        </div>


    </div>

